main {
    padding: 80px 0 0 0;
}


/* --- Input, Select Style --- */

input, select {
    width: 100%;  
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid #888888;
    font-size: 0.9rem;
    font-family: inherit;
    outline: none;   
}

select {
    appearance: none;
    -webkit-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640'%3E%3Cpath d='M297.4 470.6C309.9 483.1 330.2 483.1 342.7 470.6L534.7 278.6C547.2 266.1 547.2 245.8 534.7 233.3C522.2 220.8 501.9 220.8 489.4 233.3L320 402.7L150.6 233.4C138.1 220.9 117.8 220.9 105.3 233.4C92.8 245.9 92.8 266.2 105.3 278.7L297.3 470.7z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 17px;
    padding-right: 40px;
    text-align: center;
}


.main-container {
    display: flex;
    flex-direction: column;
}


/* sched-nav & Header*/

.sched-nav {
    padding: 15px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.08);
}

.sched-opn-title {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}

hr {
    border: solid 1px var(--red);
    margin: 5px 0 20px 0;
}

.sched-nav-options {
    display: flex;
    gap: 20px;
}

.sched-nav select {
    flex: 1;
}


/* --- Sched Table --- */

.sched-table-wrapper {
    overflow-x: auto;
}

.sched-table {
    min-width: 900px;
    margin-top: 25px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.08);
}


/* Sched Header */

.sched-table-header {
    display: grid;
    grid-template-columns: 40px 130px 120px 1fr 60px 200px;

    background: var(--red);
    color: var(--white);
    
    padding: 11px 20px;
    gap: 12px;

    text-align: center;
    font-size: 0.7rem;
    font-weight: 600;
    letter-spacing: 0.06em;
}

.col-name{
    text-align: left;
}


/* Rows */

.sched-table-body {
    display: flex;
    flex-direction: column;
}

.sched-row {
    display: grid;
    grid-template-columns: 40px 130px 120px 1fr 60px 200px;

    align-items: center;
    text-align: center;

    gap: 12px;
    padding: 11px 20px;
    background-color: white;
    border-bottom: 1px solid var(--off);

    font-size: 0.8rem;
    color: var(--dark);
}

.sched-row:nth-child(even) {
    background-color: #faf9f7;
}


/* Column */

.col-num {
    font-weight: 700;
    opacity: 0.5;
}

.code-badge {
    background: #f5e0e2;
    color: var(--red-dk);
    white-space: nowrap;
    font-weight: 700;
    font-size: 0.75rem;

    padding: 3px 10px;
    border-radius: 6px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.section-badge {
    background: #e0e5f5;
    color: var(--navy);
    white-space: nowrap;
    font-weight: 600;
    font-size: 0.75rem;

    padding: 3px 10px;
    border-radius: 6px;
}

/* For Pathfit */
.section-badge.alt {
    background: #f7efc5;
    color: var(--gold-dk);
}

/* Lecture & Lab tag */
.type-tag {
    margin: 0 0 0 6px;
    padding: 2px 7px;
    border-radius: 4px;

    font-size: 0.6rem;
    font-weight: 600;
    background: var(--off);
    color: #666;
    text-transform: uppercase;
    letter-spacing: 0.04em;
}

.units-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

    background: var(--navy);
    color: var(--white);
    
    font-weight: 700;
    font-size: 0.75rem;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.col-prof {
    display: flex;
    align-items: center;
    gap: 8px;
}

.prof-avatar {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    height: 24px;
    border-radius: 50%;

    background: var(--off);
    color: var(--navy);
    font-size: 0.7rem;
}


/* Sched Footer */

.sched-table-footer {
    display: flex;
    justify-content: flex-end;

    gap: 30px;
    padding: 11px 20px;

    background: var(--off);
    color: #555;
    font-size: 0.75rem;
}

.sched-table-footer strong {
    color: var(--red);
}


/* --- Schedule Week --- */

.sched-time {
    margin: 25px 0;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.08);
}

.weekly-sched-titlebar {
    background: var(--red);
    color: var(--white);

    padding: 11px 20px;

    font-size: 0.7rem;
    font-weight: 700;
    letter-spacing: 0.08em;
    text-align: center;
}

.weekly-sched-wrapper {
    overflow-x: auto;
}

.weekly-grid {
    min-width: 680px;
    padding: 0 0 20px 0;
    background-color: var(--off);
    display: grid;
    grid-template-columns: 50px repeat(6, 1fr);
}


/* Day Headers */
.wg-day-header, .wg-time-header {
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--off);
    color: var(--navy);
    
    height: 34px;
    border-bottom: solid 2px var(--red);

    font-size: 0.63rem;
    font-weight: 700;
    letter-spacing: 0.07em;
}

.wg-time-header {
    border-bottom: none;
}

/* Columns */

.wg-time-col { 
    position: relative; 
    background: var(--off);
}

.wg-day-col  { 
    background-color: white;
    border-left: 1px solid var(--off); 
    position: relative; 
}


/* Grid body */

.wg-body-area { 
    position: relative; 
}

.wg-hour-line {
    position: absolute;
    left: 0; 
    right: 0;
    border-top: 1px solid var(--off);
    pointer-events: none;
}

.wg-half-line {
    position: absolute;
    left: 0; 
    right: 0;
    border-top: 1px dashed var(--off);
    pointer-events: none;
}

/* Time labels */

.wg-time-label {
    position: absolute;
    right: 4px;

    font-size: 0.6rem;
    font-weight: 700;
    color: var(--dark);
    line-height: 1;
    white-space: nowrap;
    transform: translateY(-50%);
    pointer-events: none;
}


/* Course blocks */
.wg-block {
    position: absolute;
    margin: 3px 0;
    left: 3px; 
    right: 3px;

    border-radius: 6px;
    padding: 10px;
    
    cursor: default;
    z-index: 1;
}

.wg-block-code {
    font-size: 0.6rem;
    font-weight: 400;
    opacity: 0.88;
    letter-spacing: 0.03em;
}

.wg-block-name {
    font-size: 0.6rem;
    font-weight: 600;
    line-height: 1.25;
    margin-top: 2px;
}

.wg-block-room {
    font-size: 0.5rem;
    opacity: 0.82;
    margin-top: 3px;
}